@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: 'Tengwar Annatar';
  src: local('Tengwar Annatar'), url(./fonts/tengwar/tngani.ttf) format('truetype');
}

@font-face {
  font-family: 'Tengwar Annatar Bold';
  src: local('Tengwar Annatar Bold'), url(./fonts/tengwar/tnganb.ttf) format('truetype');
}

:root {
  --blue: #6495ed;
  --white: #faf0e6;
  --borderRadius: 0.2rem;
  --gutter: 0.5rem;
  --globalTextColor: var(--bs-gray-800); /*purple;*/

  --paneMargin: 1rem;
  --panePadding: 0.5rem;
  --paneBorder: 1px solid gray;
  --paneBorderRadius: 0.2rem;
  --paneHeaderBackground: #cef;
  --defaultTextColor: #000000;
  --thinPaperShadow: inset 0 0 15px rgba(255,210,0,0.3), inset 0 0 4px rgba(255,210,0,0.4), inset 0 0 6px rgba(220,120,0,0.8);
  --darkPaperShadow: inset 0 0 15px rgba(255,210,0,0.6), inset 0 0 4px rgba(255,210,0,0.8), inset 0 0 6px rgba(220,120,0,0.8);
  --thickPaperShadow: inset 0 0 75px rgba(255,210,0,0.2), inset 0 0 20px rgba(255,210,0,0.3), inset 0 0 30px rgba(220,120,0,0.5);

  --smallTextShadow: 0px 1px 0px rgba(255,255,255,.3), 0px -2px 0px rgba(0,0,0,.7); 
  --smallButtonTextShadow: 0px 1px 0px rgba(255,255,255,.5), 0px -1px 0px rgba(0,0,0,.5); 
  --academyButtonColor: #ecd54099; 
  --bookTitleColor: #ecd54099;

  --paperLikeBackgroundColor: #f8f5de;
  --brownBorder: 0.15rem solid #c6984295;

  --elvishFont: 'Tengwar Annatar', 'Handlee', cursive !important;
  --elvishFontBold: 'Tengwar Annatar Bold', 'Handlee', cursive !important;
  

}

/* Loader */
.lds-container,
.lds-small-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
.lds-small-dual-ring {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.lds-small-dual-ring:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px;
  border-radius: 50%;
  border: 3px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
/* Loader */

html, 
body {
  margin: 0;
  height: 100vh; /* can also use viewport units (height: 100vh) */
}

body {
  background-attachment: fixed; 
  background-repeat: no-repeat !important;
  background-size: cover !important;
  font-family: 'Handlee', cursive !important;
  font-size: larger !important;
  color: var(--globalTextColor) !important;
}

#root {
  display: flex; /* displays flex-items (children) inline */
  flex-direction: column; /* stacks them vertically */
  height: 100%; /* needs to take the parents height, alternative: body {display: flex} */

  /* height: 100vh; */ 
  /* min-height: 100vh !important; */  
  /* height: 100% !important; */
  /* align-items: center;  */
  /* justify-content: center; */
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0px;
  overflow: hidden;  
}

.intro, 
.footer {
  display: flex;
  padding-top: 0.5rem;
  /* height: 5vh; */
}

.logo {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.logo:hover {
  cursor:pointer;
}

.signIn {
  text-align: right;
}


.signIn a {
  font-size: large;
  text-decoration: none;
  color: rgba(0,0,0,0.5);
}


.slogan {
  text-align: center;
}

input[type=text].invalid,
input[type=password].invalid {
  background-color: #E08D7D90;
}

.public-courses {
  display: flex;
  flex: 1;
  justify-content: left;
  margin-left: 2rem !important;
  margin-right: 2rem !important; 
  overflow-y: auto;
}

.single-course {
  height: 300px;
  width: 210px !important;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 1.5rem 1rem !important;  
  box-shadow: 8px 8px 8px rgba(0,0,0,.5);
  border-radius: 0.20rem;
  opacity: 0.95;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding:0 !important;
}

.single-course:hover{
  opacity: 1;
}

.front-page-title {
  color: var(--bookTitleColor);
  text-shadow: var(--smallTextShadow);
  font-size: 2rem;
  font-weight: bold;
  flex: 1;
  overflow: hidden;
  margin: 24px;
}
.front-page-progress {
  color: var(--bookTitleColor);
  text-shadow: var(--smallTextShadow);
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.75rem;
}

.unsubscribe {
  text-align: center;
  background-color: #f8f5de90;
  box-shadow: var(--thinPaperShadow);
  color: rgba(0,0,0,0.5);
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 30rem;
  align-self: center;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  height: 10rem;
}

.login, 
.edit, 
.register {
  text-align: center;
  background-color: #f8f5de90;
  box-shadow: var(--thinPaperShadow);
  color: rgba(0,0,0,0.5);
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 30rem;
  align-self: center;
  padding-bottom: 2rem;
  margin-top: 3rem;
}

.login, .register {
  display: flex;
  flex-direction: column;
  height: 20rem;
}

.edit {
  /* position: relative; */
  height: 30rem;
  color: var(--globalTextColor);
}

.scroll {
  height: 25rem;
  width: 55%;
}


.modal-backdrop.show {
  opacity: 0.3 !important;
}

.modal-content, 
.modal-dialog {
  width: fit-content !important;
  max-width: fit-content !important;
}

.modal-body {
  padding: 0px 0px 0px 0px !important;
  width: fit-content !important;
}

.course-description-panel {
  display: flex !important; 
  /* justify-content: center; */
  /* align-items: center; */
  height: 30rem;
  width: 45rem;
  /* padding: 0px !important;  */
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem !important;  
}

.course-description-panel .first-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  margin: 1rem;
  margin-left: 1.5rem;  
}

.first-page > .title {
  margin-top: 0.5rem;
  font-size: 2rem;
  flex: 1;
}

.first-page .actions {
  margin-bottom: 2rem;
}

.course-description-panel .second-page {
  display: flex;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 1rem;
  margin-right: 1.5rem;
}

.second-page > .description {
  flex: 1;
  font-size: 1rem;
  text-align: left;  
}

.second-page > .description h1,
.second-page > .description h2,
.second-page > .description h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem auto;
  text-align: center;
}




.header-dropdown-menu {
  min-width: 0 !important;
  box-shadow: var(--thickPaperShadow),  4px 4px 4px rgba(0,0,0,.5);
  background-color: var(--paperLikeBackgroundColor);  
}
.header-dropdown-menu ul{
  margin-bottom: 0;
}
.header-dropdown-menu button {
  font-weight: bold;
}
.header-dropdown-menu button:hover{
  border: none;
}



/* React Tabs Overwrites */
.react-tabs {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}
.react-tabs__tab-list {
  margin-bottom: 0 !important;
}
.react-tabs__tab, 
.react-tabs__tab--selected {
  box-shadow: var(--thinPaperShadow);
  border-radius: 0.5rem 0.5rem 0 0 !important;
  font-size: 1.4rem;
  font-weight: bold;
}
.react-tabs__tab-panel {
  display: flex !important;
  box-shadow: var(--thinPaperShadow);
  background-color: #ffffff50;
}
.react-tabs__tab-panel--selected {
  flex: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 0;
}
.react-tabs-content {
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex: 1;
  overflow: hidden;
}
.react-tabs-inner-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}
/* React Tabs Overwrites */



/* .paper-background {
  background-color: #f8f5de;
  background-image: linear-gradient(to right, rgba(255,210,0,0.4), rgba(200, 160, 0, 0.1) 11%, rgba(0,0,0,0) 35%, rgba(200, 160, 0, 0.1) 65%);
  box-shadow: var(--thinPaperShadow);
  box-shadow: inset 0 0 75px rgba(255,210,0,0.3), inset 0 0 20px rgba(255,210,0,0.4), inset 0 0 30px rgba(220,120,0,0.8);
  color: rgba(0,0,0,0.5);
  padding: 5em 10em 15em 5em;
} */

.academy-button {
  background-color: #dab46e;
  box-shadow: var(--darkPaperShadow);
  /* color: var(--academyButtonColor); */
  text-shadow: var(--smallButtonTextShadow);
  font-size: 1.2rem;
  padding-top: 0.24rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;

  margin: 0.5rem;

  font-weight: bold;
  border-radius: 0.40rem;
}
.academy-button:hover {
  background-color: #ebd7b2; 
}

.academy-field {
  border-radius: 0.25rem;
  background-color: #fdf6e399;
  border: var(--brownBorder);
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding-left: 0.25rem; 
  padding-right: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.academy-field:focus {
  background-color: #fdf6e3; 
  outline: none;
}
.not-valid-field {
  border-color:  rgb(163, 9, 9);
}

.error-message {
  display: inline-block;
  font-weight: bold;
  color: rgb(163, 9, 9);
  margin-right: 1rem;
}

.enroll{
  width: 6rem;
  align-self: center;
}

.error-msg {
  min-height: 30px;
}

.confirm{
  margin-right: 0.5rem;
}

.unsubscribe-msg {
  color: red;
}

.action-panel {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  justify-content: space-between;
}

.not-editable-info {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.no-courses-found {
  display: flex;
  justify-content: center;
  font-weight: bold;
  flex: 1;
  padding: 5rem;
}

.close-x {
  align-content: center;
}

.editCol {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

 .breadcrumb{
  display: flex;
  align-items: center;
  border-radius: 0.30rem;
  margin-top: 0.5rem;
  font-weight: bold;
  box-shadow: var(--thinPaperShadow);
  background-color: var(--paperLikeBackgroundColor);
  padding: 0.3rem 0.75rem 0.25rem 0.75rem !important;
}

.breadcrumb a {
  color: var(--globalTextColor) !important;
}

.not-embedded-section a {
  color: var(--globalTextColor) !important;
  font-weight: bold;
}


.description code > i {
  font-family: var(--elvishFont);
  color: var(--globalTextColor);
}

.section-content code > i {
  font-family: var(--elvishFont);
  color: var(--globalTextColor);
}

.section-content img {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}