.course-form-container,
.section-form-container {
  display: flex;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;  
  flex-wrap: wrap;
}

.course-form-division {
  display: flex;
  flex-direction: column;    
}

.course-form-division .single-course {
  margin: 1rem auto !important;
}
.course-form-container .form-buttons,
.section-form-container .form-buttons {
  text-align: right;  
}
.form-buttons .academy-button {
  margin-right: 0;
}

.action-button-container {
  display: flex;
  flex-direction: row;
}
.action-button-container .academy-button {
  margin-left: 0;
}


.sections-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.course-view {
  box-shadow: var(--thickPaperShadow);
  background-color: var(--paperLikeBackgroundColor);
  border-radius: 0.4rem;
  min-height: 0;
  display: flex;
  flex-direction: column;  
}
.course-view-title {
  background-position: center;
  padding-top: 1.5rem;
}

.course-sections-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 1rem;
  margin-right: 0.5rem;  
  overflow-y: auto;
}


.section-small-panel,
.slot-small-panel {
  display: flex;
  flex-direction: column;
  width: 16rem;
  height: 4rem;
  margin: 1rem;
  box-shadow: var(--thickPaperShadow),  4px 4px 4px rgba(0,0,0,.5);
  background-color: var(--paperLikeBackgroundColor);
  border-radius: 0.25rem;
  border: var(--brownBorder);
  cursor: pointer;
  padding: 0;
  font-weight: bold;
  opacity: 0.85;
  line-height: 2rem;
}

.section-small-panel:hover,
.slot-small-panel:hover {
  opacity: 1;
}

.slot-small-panel {
  margin: 0.25rem;
  position: relative;
}

.slot-small-panel .timelock-panel {
  margin-top: 0.1rem;
  /* display: inline-block; */
  /* float: right; */
  font-weight: bold;
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 0; */
  border: 1px solid rgb(212, 121, 16);
  padding: 0.15rem;
  padding-top: 0.3rem;
  border-radius: 0.40rem;
  line-height: 1rem;
  background-color: #dab46e;
  box-shadow: var(--darkPaperShadow);
  /* color: var(--academyButtonColor); */ 
  
}
.timelock-panel svg,
.embedded-panel svg {
  margin-top: -0.50rem !important;
  margin-right: 0.1rem;
  margin-left: 0.1rem; 
}

.slot-small-panel .timelock-panel:hover {
  background-color: #ebd7b2; 
}

.embedded-panel {
  /* padding: 0.15rem; */
  padding-right: 0.25rem;
}

.tooltip-inner {
  background-color: var(--paperLikeBackgroundColor) !important;
  border: var(--brownBorder);
  /* opacity: 0.95; */
  color: black !important;
  border-radius: 0.50rem;
}

.section-small-panel .body, 
.slot-small-panel .body {
  flex: 1;
  padding: 0.25rem;
  overflow: hidden;
}

.section-small-panel .footer,
.slot-small-panel .footer {

  padding-left: 0.25rem;
  padding-top: 0;
  font-size: 0.9rem;
  height: 1.5rem;
  background-color: #00000025;
  border-radius: 0rem 0rem 0.25rem 0.25rem;   
}
.section-small-panel .footer svg,
.slot-small-panel .footer svg {
  margin-top: 0.3rem; 
}

.slot-small-panel .footer {
  font-display: flex;
  justify-content: space-between;
  padding-left: 0.1rem;
}

.section-view {
  padding: 1rem;
}

.section-container {
  padding: 3rem;
}

.course-view-title .course-title,
.section-title {
  text-align: center;
  margin: 2rem;
}
.course-view-title .course-title, h2,
.section-title h2 {
  font-size: 3rem !important;
}


.section-content {
  
}

.section-content p {
  font-family: 'Open Sans', sans-serif;
  
}

.section-top-divider {
  height: 6rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.section-bottom-divider {
  height: 6rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.portrait-holder {
  border: 2px solid rgba(220,120,0,0.5);
  /* width: 15rem; */
  padding: 0.75rem;
  padding-bottom: 0.25rem;
  margin: 0.5rem;
  position: relative;
}

.profilePic {
  height: 154px;
  width: 118px;
  /* position: relative; */
}

.portrait-image {
  display: flex;
  justify-content: center;
}

.close-button {
  position: absolute;
  top: 0; 
  right: 0;
  padding: 0;
  padding-bottom: 0rem;
  padding-left: 0.25rem;
  padding-right: 0.40rem;
  line-height: 1.2rem;
  font-size: 0.9rem;
  
  margin: 0.1rem;
  font-family: 'Open Sans', sans-serif;
   
}

.timelocked-section {
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 3rem;
}

.check-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border: var(--brownBorder);
  padding: 0.5rem;

}

.check-list-container label {
  margin-right: 0.5rem;
}
.check-list-container label input[type=checkbox] {
  margin-right: 0.25rem;
}

.section-list-container {
  display:flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  padding: 2rem;
  width: 45rem;
  justify-content: center;
  align-content: flex-start;
  height: 10rem;
  min-width: 40rem;
  min-height: 20rem;
  overflow: hidden;
  background-color: #f8f5de90;
  box-shadow: var(--thinPaperShadow);
  color: rgba(0,0,0,0.5);
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius: 0.5rem;
}

.section-list-container .section-list {
  padding: 0;
  margin: 0;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  align-content: flex-start;
  flex-wrap: wrap;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}