.container {
  width: 120rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 90vh;
  padding: 0rem;
  /* margin: 2rem auto; */
  margin-top: 10px;
  /* border: 1px solid #127BB4FF;
  border-top-width: 0;
  border-radius: 0.10rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0; */
  background-color: #f5fbfe;
  text-align: right;
}

.authors {
  width: 100rem;
  height: 65vh;
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: white;
  border: 1px solid #127BB4FF;
  justify-content: center;
  justify-items: center;
}

.picture {
  text-align: center;
  width: 30rem;
  height: 50vh;
  margin-top: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.singleAuthor {
  text-align: center;
  color: grey;
  font-weight: bold;
}

.intro {
  width: 100rem;
  height: 10vh;
  display: flex;
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: white;
  background-color: #f5fbfe;
  justify-content: center;
  justify-items: center;
  text-align: center;
  color: grey;
  font-weight: bold;
}