.user-search-form {
  /* width: 24rem; */
  display: block;
  padding: 0rem;
  margin: 0 auto;
  border-radius: 0.25rem;  
}

.tab-division {
  /* border: 1px solid red; */
  flex: 1;
  display: flex;
  overflow-y: hidden;
  min-height: 0;
}
.course-users,
.users,
.list-container .list { 
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  overflow: hidden;
  min-height: 0;
}
.course-users {
  margin-top: 0.5rem;
}
.course-users .search-query {
  width: 27rem !important;
  min-width: 27rem;
}
.users .search-query {
  width: 21rem;
}
.users .list-container {
  margin-top: 1.75rem;
}
.list-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;

}

.user-list-portrait {
  height: 52px;
  width: 41px;
  background-color: #ffffff90;
}


.user-list {
  display: block; 
  /* margin: 0 auto; */
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 12rem;
  padding-right: 2rem;
}

.user-list-item {
  display: block;  
  padding: 0rem;
  margin: 1rem auto;
  width: 27rem;
  min-width: 27rem;
  min-height: 4.25rem;
  /* border: 0.1rem solid #127BB4; */
  /* border-radius: 0.2rem; */
  /* background-color: #f5fbfe; */
  box-shadow: var(--thickPaperShadow),  4px 4px 4px rgba(0,0,0,.5);
  background-color: var(--paperLikeBackgroundColor);
  border-radius: 0.25rem;
  border: var(--brownBorder);
  opacity: .90;
}

.user-list-item .head {
  height: 2rem;
}
.user-list-item  .head > div {
  vertical-align: middle;
}

.user-list-item .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  /* border-top: 1px solid #127BB4FF; */
  color: #404040;
  padding: 0.25rem;
  text-align: left;
  text-decoration: none;  
  font-size: 1.4rem;
  /* cursor: pointer; */
  font-weight: 700;
  /* background-color: #dff3fd; */
  padding-left: 0.5rem;
  border-radius: 0.2rem;
}

.user-list-item .title:hover {
  /* background-color: white;   */
}
.user-list-item .title a {
  display: inline-block;
  width: 100%;
}

.user-list-item .portrait {
  /* float: left; */
  /* margin-left: -2.25rem; */
  /* margin-top: -0.15rem; */
  margin-right: 1rem;
  border: var(--brownBorder);

}

.user-list-item .status {
  border: none;
  border-top: 1px solid #127BB4FF;
  color: #404040;
  padding: 0.25rem;
  text-align: left;
  text-decoration: none;
  height: 2.1rem;  
}


.list-action {
  
}