.branch-list-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row; 
  overflow: auto;
}

.branch-container {
 /* flex: 1; */
 width: 18rem;
 min-width: 18rem;
 height: 60rem;
 /* min-height: 0; */
 /* margin-left: 0.5rem; */
 margin-right: 1rem;
 border-radius: 0.50rem;
 background-color: #f8f5de99;
 border: var(--brownBorder);
}

.branch-header {
  /* border: 1px solid red; */
  border-radius: 0.50rem 0.50rem 0rem 0rem;
  background-color: #00000035;
  font-weight: bold;
  /* overflow: hidden; */
  padding: 0.30rem;
  padding-top: 0.5rem;
  position: relative;
  text-align: center;
}


.branch-slot {
  margin: 0.5rem auto;
}

.section-slots {
  display: flex;
  flex-direction: column;
}

.branch-modal-container {
  width: 100%;
  /* max-width: 500px; */
  /* border: 1px solid red; */
}

.branch-modal-container .modal-content {
  width: 100%;
  /* max-width: 500px; */
  /*border: 0.15rem solid #127BB4;*/
}

.branch-modal-container .modal-body {
  padding: 0;
  /* max-width: 500px; */
    
}

.branch-form,
.timelock-form {
  text-align: center;
  background-color: #f8f5de90;
  box-shadow: var(--thinPaperShadow);
  color: rgba(0,0,0,0.5);
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 25rem;
  align-self: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  /* height: 10rem; */
}



.empty-slot,
.filled-slot {
  display: flex;
  flex-direction: column;
  width: 16rem;
  height: 4rem;
  margin: 0.25rem;
  box-shadow: var(--thinPaperShadow),  4px 4px 4px rgba(0,0,0,.5);
  border-radius: 0.25rem;
  border: var(--brownBorder);
  cursor: pointer;
  padding: 0;
  font-size: 2.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  opacity: 0.75;
  text-align: center;
  position: relative;
  /* line-height: 2rem;   */
}

.slot-position {
  font-size: 1.5rem;
  left: 0;
  margin-left: 0.5rem;
  margin-top: 0.75rem;
  position: absolute;
  
}